<!-- views/pages/user/new.ejs -->
<div>
    <h2>Create New User</h2>
    <form action="/user" method="POST">
      <label for="vorname">Vorname:</label>
      <input type="text" id="vorname" name="vorname" required>
  
      <label for="nachname">Nachname:</label>
      <input type="text" id="nachname" name="nachname" required>
  
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
  
      <label for="role">Role:</label>
      <select id="role" name="role" required>
        <option value="user">User</option>
        <option value="admin">Admin</option>
        <option value="vermieter">Vermieter</option>
      </select>
  
      <button type="submit">Submit</button>
    </form>
  </div>
  