<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <style>
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .navbar-icon {
            height: 30px;
        }
        .arrow-container {
            display: flex;
            align-items: center;
        }
        .arrow-container img {
            margin-left: 20px; /* Abstand nach rechts */
        }
        .dashboard-links .arrow-container {
            margin-left: -60px; /* Maximiert den Abstand zur linken Seite */
        }
    </style>
</head>
<body>
    
    <main class="container my-4">
        <section class="dashboard-links">
            <div class="d-flex align-items-center mb-3">
                <a href="/" class="arrow-container">
                    <img src="/images/arrow-left-solid.svg" alt="back logo" class="navbar-icon">
                </a>
                <h2 class="h4 mb-0" style="color: rgb(0, 90, 0);">Verwaltung</h2>

            </div>
            <div class="list-group">
                <a href="/user" class="list-group-item list-group-item-action">Benutzerverwaltung</a>
                <a href="/marke" class="list-group-item list-group-item-action">Markenverwaltung</a>
                <a href="/modell" class="list-group-item list-group-item-action">Modellverwaltung</a>
                <a href="/angebot" class="list-group-item list-group-item-action">Angebotverwaltung</a>
                <a href="/buchung" class="list-group-item list-group-item-action">Buchungsververwaltung</a>
                <a href="/bewertung" class="list-group-item list-group-item-action">Bewertungsverwaltung</a>
            </div>
        </section>
    </main>
    <footer class="bg-light text-center py-3" style="background-color: transparent;">
        <p>&copy; 2024 Carroam</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
