<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <main class="container my-5">
        <div class="header-container">
            <a href="/" class="arrow-container">
                <img src="/images/arrow-left-solid.svg" alt="back logo" class="navbar-icon">
            </a>
            <h2 class="text-center" style="color: black;">Verwaltung</h2>
        </div>
        <section class="dashboard-links">
            <div class="list-group">
                <div class="list-group">
                    <% if (userRole === 'admin') { %>
                        <a href="/user" class="list-group-item list-group-item-action">Benutzerverwaltung</a>
                        <a href="/marke" class="list-group-item list-group-item-action">Markenverwaltung</a>
                        <a href="/modell" class="list-group-item list-group-item-action">Modellverwaltung</a>
                        <a href="/angebot" class="list-group-item list-group-item-action">Angebotverwaltung</a>
                        <!-- <a href="/buchung" class="list-group-item list-group-item-action">Buchungsververwaltung</a>
                        <a href="/bewertung" class="list-group-item list-group-item-action">Bewertungsverwaltung</a> -->
                    <% } else if (userRole === 'vermieter') { %>
                        <a href="/user/edit" class="list-group-item list-group-item-action">Profil bearbeiten</a>
                        <a href="/angebot" class="list-group-item list-group-item-action">Meine Angebote</a>
                        <a href="/buchung" class="list-group-item list-group-item-action">Meine Buchungen</a>
                    <% } %>
                </div>    
        </section>
        <form action="/logout" method="GET" class="d-inline">
            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 30px;">Logout</button>
        </form>
    </main>
    <footer class="bg-light text-center py-3" style="background-color: transparent;">
        <p>&copy; 2024 Carroam</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
