<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carroam</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/images/logo.png" alt="carroam Logo" class="logo">
            <img src="/images/carroam.png" alt="carroam logo 2" class="carroam">
            <ul>
                <li><img src="/images/user.svg" alt="userlogo" class="navbar-icon"></li>
                <a href="/dashboard">
                  <li><img src="/images/menu.svg" alt="menu logo" class="navbar-icon"></li>
                </a>
            </ul>
        </div>


          <div class="search-container">
            <form action="/search" method="GET">
                <div class="search-field">
                    <input type="text" name="standort" placeholder="Abholort suchen" required>
                </div>
                <div class="search-field">
                    <input type="date" name="abholdatum" placeholder="Abholdatum">
                </div>
                <div class="search-field">
                    <input type="date" name="rueckgabedatum" placeholder="Rückgabedatum">
                </div>
                <button type="submit" class="search-button">
                    <img src="/images/search.svg" alt="search">
                </button>
            </form>
        </div>

        <h1 style="background-color: transparent;">
            Freiheit beginnt hier
        </h1>
        <h2 style="background-color: transparent;">
            wähle deinen Mietwagen <p>bei einem lokalen Vermieter</p>
        </h2>
        <footer id="impressum" style="background-color: transparent;">
          <p>Impressum</p>
      </footer>
      
    </div>

</body>
</html>
