<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carroam</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id="app" class="banner">
        <div class="navbar">
            <img src="/images/logo.png" alt="carroam Logo" class="logo">
            <img src="/images/carroam.png" alt="carroam logo 2" class="carroam">
            <ul>
                <a href="/login">
                    <li><img src="/images/user.svg" alt="userlogo" class="navbar-icon"></li>
                </a>
                <a href="/dashboard">
                    <li><img src="/images/menu.svg" alt="menu logo" class="navbar-icon"></li>
                </a>
            </ul>
        </div>

        <search-component></search-component>

        <h1 style="background-color: transparent;">
            Freiheit beginnt hier
        </h1>
        <h2 style="background-color: transparent;">
            wähle deinen Mietwagen <p>bei einem lokalen Vermieter</p>
        </h2>
        <footer id="impressum" style="background-color: transparent;">
            <p>Impressum</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script type="module">
        import SearchComponent from '/vue/SearchComponent.js';

        const { createApp } = Vue;

        createApp({
            components: {
                'search-component': SearchComponent
            },
            data() {
                return {
                    standort: '',
                    abholdatum: '',
                    rueckgabedatum: ''
                };
            },
            created() {

            }
        }).mount("#app");
    </script>
</body>
</html>
